<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Login</title>
<link th:replace="fragments/head :: head" />
</head>
<body>
	<div class="container">
		<div class="container-fluid">
			<div th:replace="fragments/navbar :: navbar(page='users')"></div>
			<div class="row">
				<div class="main">
					<div id="message" th:text="${message}">...</div>
					<!--     <h3 data-th-text="#{users.table.title}">Users</h3> -->
					<div class="table responsive">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th class="col-sm-4" data-th-text="#{user.username.label}">User</th>
									<th class="col-sm-2" data-th-text="#{user.firstName.label}">First name</th>
									<th class="col-sm-2" data-th-text="#{user.lastName.label}">Last Name</th>
									<th class="col-sm-2" data-th-text="#{actions.label}">Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr data-th-each="user : ${users}">
									<td data-th-text="${user.username}">..</td>
									<td data-th-text="${user.firstName}">..</td>
									<td data-th-text="${user.lastName}">..</td>
									<td style="text-align: center;"><a href="#" data-th-href="@{/admin/users/edit(username=${user.username})}">
											<button type="button" class="btn btn-default btn-xs">
												<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
											</button>
									</a> &nbsp; <a href="#" data-th-href="@{/admin/users/delete(username=${user.username},action=request)}">
											<button type="button" class="btn btn-default btn-xs">
												<span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete
											</button>
									</a></td>
								</tr>
								<tr data-th-remove="all">
									<td>user@test.com</td>
									<td>Donald</td>
									<td>Duck</td>
									<td style="text-align: center;"><a href="#">
											<button type="button" class="btn btn-default btn-xs">
												<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
											</button>
									</a>&nbsp; <a href="#">
											<button type="button" class="btn btn-default btn-xs">
												<span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete
											</button>
									</a></td>
								</tr>
							</tbody>
						</table>
					</div>

					<form class="form" action="#" data-th-action="@{/admin/users}" data-th-object="${userRegisterForm}"  autocomplete="off" method="post">
						<div class="table responsive">
							<table class="no-border-on-me table ">
								<thead>
									<tr>
										<th class="col-sm-4" data-th-text="#{user.username.label}">Email/Username</th>
										<th class="col-sm-1" data-th-text="#{user.password.label}">Password</th>
										<th class="col-sm-2" data-th-text="#{user.firstName.label}">First name</th>
										<th class="col-sm-2" data-th-text="#{user.lastName.label}">Last name</th>
										<th class="col-sm-2" data-th-text="#{actions.label}">Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><input class="form-control" type="text" data-th-field="*{username}" placeholder="email" autocomplete="off"></input>
										<span class="error help-inline"  th:if="${#fields.hasErrors('*{username}')}" th:errors="*{username}">error</span>										
										</td>
										<td>
											<input class="form-control" type="password" data-th-field="*{password}" autocomplete="off"></input>
											<span class="error help-inline"  th:if="${#fields.hasErrors('*{password}')}" th:errors="*{password}">error</span>										
										</td>
										<td><input class="form-control" type="text" data-th-field="*{firstName}" placeholder="First Name" autocomplete="off"></input></td>
										<td><input class="form-control" type="text" data-th-field="*{lastName}" placeholder="Last Name" autocomplete="off"></input></td>
										<td>
											<button type="submit" class="btn btn-primary" data-th-text="#{add.button.label}">Add</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</form>

				</div>
				<!-- END MAIN TAG -->
			</div>
			<!-- END ROW TAG -->
		</div>
		<!-- END CONTAINER TAG -->
	</div>
</body>
</html>